<footer>
    <section>
    <h3>Left Stuff</h3>
    <p>Left aligned text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    <p>Next line here</p>
    </section>
    
    <section>
    <h3>Center Stuff</h3>
    <p>Center Text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    <p>Next line here</p>
    </section>
    
    <section>
    <h3>Right Stuff</h3>
    <p>&copy; 2010 <a href="#" title="your site name">yoursite.com</a> All rights reserved.</p>
    <p>Center Text here. Proin metus odio, ultricies eu pharetra dictum, laoreet id odio. Curabitur in odio augue. Morbi congue auctor interdum. Phasellus sit amet metus justo.</p>
    </section>

	</footer>