	<section id="intro">
		<header>
			<h2>Your Spiffy Tag Line Goes Here</h2>
		</header>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut.</p>
		<%= image_tag 'introimage.png' %>
	</section>